allow-lan: true
mode: rule
log-level: info

tun:
  enable: true
  stack: system
  device: utun12
  auto-route: true
  auto-detect-interface: true
  dns-hijack:
    - any:53

dns:
  enable: true
  listen: 0.0.0.0:53
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  nameserver:
    - 223.5.5.5
    - 8.8.8.8

proxies:
    - { name: '香港1 bgp 1x', type: trojan, server: f4d7f1c2f3b80976a5e2c1d4b3f0f321.358.onl, port: 55011, password: 70922a73-859c-42cd-a381-6a393ad82271, udp: true, sni: www.h3yun.com, skip-cert-verify: true }

proxy-groups:
  - name: Default
    type: select
    proxies:
      - '香港1 bgp 1x'

rules:
  - MATCH,Default
